<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

## Peer grade Assignment: Create and share Your Jupyter Notebook

*Albane Michot*

**The following code tests the Gauss formula:**

In [1]:
def gauss(n):
    return (n*(n+1))/2

gauss(100)==sum(range(101))

True

***

- 1
- 2
- 3

In [5]:
>>> import pandas as pd
>>> import numpy as np
>>> data = np.arange(1,13)
>>> data = data.reshape(3,4)
>>> data
>>> columns = ['Cat','Dog','Lion','Zebra']
>>> index = ['Paul','Jack','Peter']
>>> df = pd.DataFrame(data=data,index=index,columns=columns)
>>> df

       Cat  Dog  Lion  Zebra
Paul     1    2     3      4
Jack     5    6     7      8
Peter    9   10    11     12